@media screen and (max-width:990px) {
    .navbar__menu{
        display: block;
    }
    .navbar__collection{
        position: absolute;
        top: 70px;
        left: 0;    
        width: 100%;
        padding: 20px 0;
        background: #f7f7f7;
        box-shadow: 0 3px 5px #0002;
        flex-direction: column;
        gap: 12px;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        z-index: 10;
        transform-origin: top;
        transform: scaleY(0);
    }
    .navbar__collection.show{
        transform: scaleY(1);
    }
}

@media screen and (max-width:650px){
    .card{
        width: calc(50% - 7px);
    }
}
@media screen and (max-width:450px){
    .card__image{
        height: 180px;
    }
}